.form {
	padding: 0;
}

.item {
	display: flex;
	align-items: center;
}

.input {
	flex-basis: 100%;
	margin-block: 1rem;
	margin-inline: 0.65rem 2rem;
	border: 1px solid rgb(217, 217, 217);
	padding-block: 0.45rem;
	border-radius: 3px;
}

.actions {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	padding-block-start: 1rem;
}

.btn {
	border-radius: 30px;
	padding: 0.5rem 0.75rem;
	border: none;
	background-color: rgb(63, 63, 63);
	color: #f9f9f9;
	margin-right: 1rem;
	font-size: 1.11rem;
}

.btn:hover {
	background-color: rgb(217, 217, 217);
}

.link:hover {
	color: #1677ff;
}
