@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ramabhadra&family=Source+Sans+Pro&display=swap');

:root {
	--max-width: 1100px;
	--border-radius: 12px;
	--font-open: 'Open Sans', sans-serif;
	--font-pro: 'Source Sans Pro', sans-serif;
	--font-rama: 'Ramabhadra', sans-serif,
	--font-color: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #f5f5f5;
	font-family: var(--font-pro);
}

body {
	color: rgb(var(--font-color));
	font-size: calc(15px + 0.390625vw);
}

a {
	color: inherit;
	text-decoration: none;
}

header {
	border-bottom: 1px solid rgb(217, 217, 217);
	width: 100%;
	z-index: 20;
	-webkit-tap-highlight-color: transparent;
}

header::selection {
	background: none;
	color: none;
}

.ant-spin-container {
	padding-block: 1.25rem;
}

.footer {
	position: sticky;
	bottom: 0px;
	width: 100%;
	color: rgb(64, 64, 64);
	text-align: center;
	padding-inline: 1rem;
	padding-block: 1rem;
}

@media (min-width: 800px) {
	.footer {
		padding-inline: 3rem;
	}
}

@media (min-width: 2000px) {
	.page-container {
		max-width: 2000px;
		margin-inline: auto;
	}
}
