@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  to {
    transform: translateX(-100%);
  }
}

.main {
  margin-top: 100px;
}

.landing {
  display: flex;
  flex-direction: column;
}

.transactions {
  position: fixed;
  top: 50px;
  z-index: 19;
}

.transactions[data-action='down'] {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  display: flex;
}

.transactions {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: auto auto;
  border-bottom: 1px solid rgb(217, 217, 217);
  overflow: hidden;
  background-color: #fff;
}
.transactionsSlide {
  display: flex;
  text-size-adjust: 100%;
  z-index: 0;
  align-content: center;
  min-width: max-content;
  animation: slider 40s linear 0s infinite;
  gap: 2rem;
}
.transaction {
  display: flex;
  align-items: center;
}

.tradesHeader {
  display: flex;
  height: 100%;
  align-items: center;
  text-transform: uppercase;
  line-height: 22px;
  font-size: 1rem;
  background-color: #1677ff;
  letter-spacing: 0.01rem;
  padding-inline: 0.5rem;
  color: #fff;
  z-index: 100;
  opacity: 1;
}
.tradeBody {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  margin-block: auto;
  margin-right: 1rem;
  gap: 4px;
}

.tradeName {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.125rem;
  letter-spacing: 0.01em;
  font-family: 'Ramabhadra', sans-serif;
}

.headshot {
  aspect-ratio: 1;
  border-radius: 60%;
  background-color: rgba(0, 0, 0, 0.05);
}

/* NEWS */
.newsWrapper {
  padding-inline: 1rem;
  padding-block: 1rem 0;
}

.heading {
  font-size: 2.85rem;
  text-transform: uppercase;
  font-family: var(--font-rama);
  line-height: 100px;
  color: #f5f5f5;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #1677ff;
}

.news {
  min-height: calc(100dvh - 200px);
  min-height: calc(100vh - 200px);
  display: grid;
  grid-auto-rows: minmax(0, 1fr);
  gap: 2rem;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-basis: 100%;
  justify-content: space-between;
  word-wrap: break-word;
  border-radius: 1.25rem;
  background-color: #fff;
  box-shadow: -5px -10px 15px rgba(255, 255, 255, 0.35),
    5px 10px 5px rgba(68, 68, 68, 0.14);
  z-index: 1;
  -webkit-transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.article:hover {
  box-shadow: inset -5px -10px 5px rgba(255, 255, 255, 0.5),
    inset 5px 10px 5px rgba(68, 68, 68, 0.14);
  transform: translateY(-0.25rem);
}

.title {
  line-height: 2.2rem;
  font-weight: 500;
  font-size: 1.9rem;
  letter-spacing: -0.01em;
  padding: 1rem;
  font-family: var(--font-open);
  color: #121212;
}

.thumbnailWrapper {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-inline: 1rem 0;
}

.info {
  align-self: flex-end;
  gap: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-family: var(--font-pro);
}

.date {
  font-size: 1rem;
  font-weight: 500;
  color: #1677ff;
}

.thumbnail {
  align-self: flex-end;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 1.25rem;
  border-right: 1px solid rgb(217, 217, 217);
  border-bottom: 1px solid rgb(217, 217, 217);
  aspect-ratio: 1;
  z-index: 0;
}

/* SLEEPERS */
.sleepersWrapper {
  padding-inline: 1rem;
  padding-block: 2rem;
}

.sleepers {
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(8, minmax(0, 1fr));
  grid-template-columns: 1fr;
  padding-block: 3rem 1rem;
}

.sleeper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(50px, auto) minmax(205px, auto) minmax(0, 1fr);
  background-color: #e6e6e6;
  padding-block: 0 1.25rem;
  border-radius: 0.9rem;
  position: relative;
}

.sleeperUpper {
  padding-block: 3px;
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-between;
  color: #121212;
  font-family: var(--font-open);
  font-weight: 600;
  font-size: 1.125rem;
  padding-inline: 1rem 0;
  padding-block: 0.525rem 0;
  line-height: 1.5rem;
}

.sleeperBody {
  z-index: 0;
}

.sleeperPos {
  font-weight: 590;
  color: #555555;
}

.sleeperHeadshotWrapper {
  position: relative;
  aspect-ratio: 0.9/1;
  z-index: 0;
}

.sleeperHeadshot {
  object-fit: cover;
  overflow: hidden;
  z-index: 0;
  background-clip: border-box;
  filter: drop-shadow(0 -1px 3px rgba(0, 0, 0, 0.45));
}

.sleeperOutlook {
  display: flex;
  align-self: center;
  text-align: center;
  padding: 1rem;
  color: #555555;
  font-weight: 200;
}

.sleeperLinkWrapper {
  padding-inline: 1rem;
}

.sleeperLink {
  background-color: #1677ff;
  width: 100%;
  height: 2.95rem;
  border-radius: 0.875rem;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.0325em;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 4px;
  border: 2px solid rgba(0, 0, 0, 0);
  font-family: var(--font-open);
}

.sleeperLink:hover {
  background-color: #4592ff;
  color: #f5f5f5;
}

@media (min-width: 450px) {
  .heading {
    font-size: 3.6rem;
  }
  .title {
    font-size: 1.24rem;
  }
  .sleeperUpper {
    font-size: 1.125rem;
  }
}

@media (max-width: 600px) {
  .tradesHeader {
    font-size: 14px;
  }
  .title {
    font-size: 1.42rem;
  }
  .news {
    grid-auto-rows: inherit;
  }
  .dNews {
    display: none;
  }
}

@media (min-width: 600px) {
  .sleepers {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 2rem;
  }
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .news {
    padding-block: 0.75rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: auto;
    gap: 1.5rem;
  }
  .heading {
    margin-top: 2rem;
  }
}

@media (min-width: 801px) {
  .heading {
    margin-top: 2.25rem;
    font-size: 4rem;
  }
  .newsWrapper {
    padding-inline: 3rem;
  }
  .news {
    gap: 1.75rem;
    padding-block: 2rem;
  }
  .sleepersWrapper {
    padding-inline: 3rem;
  }
  .news {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
    padding-block: 3.5rem;
  }
}

@media (min-width: 1100px) {
  .heading {
    font-size: 5.525rem;
    margin-top: 3rem;
  }
  .date {
    font-size: 1.2rem;
  }
  .source {
    font-size: 1.2rem;
  }
  .article {
    flex-direction: column-reverse;
  }
  .title {
    padding: 2.25rem 1.25rem 0 1.25rem;
    font-size: 2.245rem;
    line-height: 1;
    /* letter-spacing: 0.01rem; */
  }
  .thumbnailWrapper {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-inline: 1rem 0;
  }
  .main {
    max-width: 1400px;
    margin-inline: auto;
  }
  .sleepers {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(0, 0.3fr));
    grid-template-rows: auto;
    row-gap: 3rem;
    column-gap: 2rem;
  }
}

@media (min-width: 1400px) {
  .sleepers {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 0.25fr));
    grid-template-rows: auto;
    row-gap: 5rem;
    column-gap: 3rem;
  }
  .sleeperOutlook {
    font-size: 1.2rem;
  }
  .sleeperUpper {
    font-size: 22px;
  }
  .sleeperLink {
    font-size: 20px;
  }
}
