.mobile {
	display: flex;
	flex-flow: row nowrap;
	flex-basis: 100%;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem;
	height: 50px;
}

.desktop {
	display: none;
	grid-template-rows: 50px;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	padding-inline: 3rem;
	justify-content: space-between;
}

.title {
	display: flex;
	align-self: center;
}

.logo {
	background-position: center;
}

.links {
	display: flex;
	flex-flow: row nowrap;
	flex-basis: 100%;
	justify-content: space-between;
	align-items: center;
}

.links a {
	padding-block: 0.2rem;
	padding-inline: 0.6rem;
	border-radius: 5px;
}

/* position links */
.links a:not(:last-of-type):hover {
	background-color: #1677ff;
	color: #f9f9f9;
}

/* profile link */
.links a :last-of-type:hover {
	color: #1677ff;
}

.menu {
	padding-inline: 1rem;
	padding-block: 0.75rem 0.5rem;
	background-color: #f9f9f9;
	color: #000;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	position: absolute;
	top: 50px;
	gap: 1rem;
	height: calc(100vh - 50px);
	width: 100%;
	z-index: 59;
}

.actions {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.login {
	margin-right: 0.5rem;
}

.menu a:hover {
	color: #1677ff;
}

.mobileLinks {
	display: flex;
	flex-direction: column;
	padding-block-start: 1rem;
}

.mobileLinks a {
	display: flex;
	flex-flow: row nowrap;
	flex-basis: 100%;
	justify-content: space-between;
	letter-spacing: 1px;
	font-weight: 500;
}

.mobileLinks > div {
	background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 800px) {
	.mobileWrapper {
		display: none;
	}
	.desktop {
		display: grid;
	}
}
