.player {
  display: grid;
  grid-template-rows: inherit 1fr;
  gap: 1rem;
  margin-top: 100px;
}

.upper {
  display: grid;
}

.hsContainer {
  position: relative;
  overflow: hidden;
  border-radius: 60%;
}

.headshot {
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.06);
}

.info {
  display: flex;
  flex: 0;
  font-family: var(--font-open);
  font-weight: 800;
  color: var(--black);
  /* flex-direction: row nowrap; */
  z-index: 2;
  /* justify-content: safe; */
}

.lower {
  display: block;
  padding-inline: 1rem;
  padding-block: 1rem;
}

.stats {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(2, 0.5fr);
  row-gap: 1rem;
  column-gap: 0.25rem;
  font-size: 1.5rem;
  border-radius: 12px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.09);
  max-width: 1100px;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--font-color-sec);
}

.stat > span {
  color: var(--font-color);
  font-family: var(--font-open);
  font-weight: 800;
  letter-spacing: -0.01em;
  text-align: left;
}

.news {
  display: block;
}

.newsHead {
  font-size: 2rem;
  padding-inline: 1rem;
  line-height: 2rem;
  margin-block-start: 3rem;
  color: var(--blue);
  font-family: var(--font-rama);
  font-weight: 200;
  text-transform: capitalize;
  letter-spacing: 0.045em;
}

.articles {
  padding-block: 2rem;
  padding-inline: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.article {
  background-color: var(--white);
  display: grid;
  grid-template-rows: inherit 1fr min-content;
  border: 1px solid rgb(217, 217, 217);
  padding: 0.5rem 0.75rem;
  border-radius: 0.485rem;
}

.article:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 0px -1px;
  transform: translateY(-2px);
}

.title {
  z-index: 3;
  letter-spacing: 0.01em;
}

.articleDesc {
  padding-top: 0.65rem;
  color: var(--font-color-sec);
}

.articleSrc {
  flex-basis: 100%;
  place-self: flex-end;
  /* color: var(--font-color-sec); */
  font-weight: 200;
}

@media (max-width: 800px) {
  .upper {
    grid-template-rows: minmax(300px, auto) min-content;
    grid-template-columns: minmax(300px, auto);
    justify-content: center;
  }
  .info {
    font-size: 1.5rem;
    padding-block-start: 1rem;
    justify-content: center;
    flex-direction: row;
  }
}

@media (min-width: 800px) {
  .upper {
    max-width: 1192px;
    padding-inline: 3rem;
    grid-template-rows: 400px;
    grid-template-columns: minmax(auto, 400px) minmax(50%, auto);
    column-gap: 1rem;
  }
  .lower {
    padding-inline: 3rem;
  }
  .info {
    font-size: 2.4rem;
    transform: translateY(30%);
    justify-content: center;
  }
  .newsHead {
    padding-inline: 3rem;
  }
  .articles {
    padding-inline: 3rem;
  }
}

/* RESPONSIVE NEWS */
@media (min-width: 700px) and (max-width: 1400px) {
  .articles {
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: auto;
    row-gap: 1.25rem;
  }
}

@media (min-width: 1400px) {
  .articles {
    grid-template-columns: repeat(4, 0.25fr);
    grid-template-rows: auto;
    gap: 2rem;
    max-width: 2000px;
  }
}
