.player {
	display: grid;
	grid-template-rows: inherit 1fr 1fr;
	gap: 1rem;
}

.upper {
	display: flex;
	justify-content: space-around;
	padding-block: 2rem;
}

.upperImg {
	object-fit: contain;
	/* transform: translateX(-10%); */
}

.info {
	display: flex;
	flex-direction: row nowrap;
	z-index: 2;
	text-align: center;
	transform: translateY(40%);
	align-content: center;
}

.lower {
	padding-block: 1rem;
}

.stats {
	display: grid;
	grid-template-columns: repeat(2, minmax(50%, auto));
	row-gap: 1rem;
	column-gap: 0.25rem;
	padding: 1rem 1.5rem;
	font-size: 1.5rem;
	border-radius: 12px;
	background-color: #f9f9f9;
}

.stat {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.25rem;
}

.news {
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.05rem;
	padding-block: 1rem;
}

@media (max-width: 800px) {
	.upper {
		padding-inline: 1rem;
		flex-flow: row wrap;
	}
	.lower {
		padding-inline: 1rem;
	}
	.info {
		font-size: 2rem;
	}
}

@media (min-width: 800px) {
	.upperImg > img {
		border-radius: 60%;

		/* background-color: rgba(0, 0, 0, 0.05); */
	}
	.upper {
		padding-inline: 3rem;
		flex-flow: row nowrap;
		/* background-color: rgba(0, 0, 0, 0.05); */
	}
	.lower {
		padding-inline: 3rem;
	}
	.info {
		font-size: 2rem;
		justify-content: center;
		/* transform: translateX(-50%); */
	}
}
