.main {
	display: block;
	padding: 2rem;
}

.main > div {
	padding-block: 1rem;
}

.title {
	font-size: 2rem;
	font-weight: 500;
}

.players {
	padding-block: 2rem;
	display: grid;
	grid-template-columns: repeat(4, minmax(25%, auto));
	width: var(--max-width);
	max-width: 100%;
	gap: 1rem;
}

@media (max-width: 800px) {
	.main {
		padding-inline: 1rem;
	}
}

@media (min-width: 800px) {
	.main {
		padding-inline: 3rem;
	}
}
