.main {
	display: block;
	padding: 2rem;
}

.main > div {
	padding-block: 1rem;
}

.title {
	font-size: 1.45rem;
	font-weight: 500;
	letter-spacing: 1px;
}

@media (max-width: 800px) {
	.main {
		padding-inline: 1rem;
	}
}

@media (min-width: 800px) {
	.main {
		padding-inline: 3rem;
	}
}
