.main {
  display: block;
  padding: 2rem;
  margin-top: 100px;
}

.main > div {
  padding-block: 1rem;
}

.posHeading {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-size: 1.85rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.scoringFormat {
  color: var(--font-color-sec);
}

.name {
  color: var(--blue);
}

@media (max-width: 800px) {
  .main {
    padding-inline: 1rem;
  }
}

@media (min-width: 800px) {
  .main {
    padding-inline: 3rem;
  }
}
